div#footer {
  position: relative;;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
  text-align: center;
}

.container-fluid {
  margin-bottom: 50px;
}

.jumbotron {
  color: white;
  text-shadow: 3px 3px black;
  text-align: center;
  background-image: url("../img/timeline.jpeg");
  font-size: 70px;
}  

body {
  font-family: 'Josefin Slab', serif;
}