@{
  Layout = "_Layout";
}

<h1>@Model.Name</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Current Checkouts</th>
      <th scope="col">Past Checkouts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <tr></tr>
    </tr>
  </tbody>
</table>
