<div id="footer">
  <a href="/" class="btn btn-secondary">Home Page</a>&nbsp
  <a href="/books" class="btn btn-secondary">Books Page</a>&nbsp
  <a href="/authors" class="btn btn-secondary">Authors Page</a>&nbsp
  <a href="/patrons" class="btn btn-secondary">Patrons Page</a>&nbsp
  <a href="/checkouts" class="btn btn-secondary">Checkouts Page</a>
</div>
<hr>